@model VoiceWall.Web.ViewModels.Account.SingleProfileViewModel

<div class="row">
    <h1>
        @(Html.ActionLink<ProfileController>((c) => c.Details(Guid.Empty), string.Format("{0} {1}", Model.FirstName, Model.LastName), new { id = Model.Id, username = string.Format("{0} {1}", Model.FirstName, Model.LastName) }))
    </h1>
</div>
<div class="row">
    <h4>@Html.DisplayFor(m => m.Email)</h4>
    <p class="pull-left">
        Joined on @Html.DisplayFor(m => m.CreatedOn)
    </p>
</div>
