<div id="search-form-holder">
    @using (Html.BeginForm<SearchController>((c) => c.SearchAll(null)))
    {
        @Html.AntiForgeryToken()
        @Html.FontAwesomeButton("Find", "search", new { type = "Submit", id = "Search-form-button" })
        <div id="search-form-text" hidden="hidden" class="col-md-12">
            @Html.TextBox("SearchText", null, new { @class = "form-control", placeholder = "Search everywhere" })
        </div>
    }
</div>
