@model IEnumerable<VoiceWall.Web.ViewModels.WallItemViewModel>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        foreach (var wallItem in Model)
        {
            <hr />
            <div class="row">
                @(Html.Action<WallItemPartialController>((c) => c.GetFromViewModel(null), new { viewModel = wallItem }))
            </div>
        }
    }
    else
    {
        <h3 class="text-danger text-center">No items to show.</h3>
    }
}
