@if (Model != null)
{
    foreach (var wallItem in Model)
    {
        <hr />
        <div class="row">
            @Html.Action("GetFromViewModel", "WallItemPartial", new { viewModel = wallItem })
        </div>
    }
}
