@if (Model != null)
{
    foreach (var wallItem in Model)
    {
        <hr />
        <div class="row">
            @(Html.Action<WallItemPartialController>((c) => c.GetFromViewModel(null), new { viewModel = wallItem }))
        </div>
    }
}
