@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="text-center">
    <h1 class="text-danger">Damn it !</h1>
    <h2 class="text-danger">There are too many voices here .. can you please try again in a bit ?</h2>

    <h5>In other words .. we failed to deliver you the high end service that is expected from us .. forgive us, as we are mere humans ..</h5>
</div>