@using VoiceWall.Web.Areas.Administration.ViewModels;
@model Guid?
@{
    const string ControllerName = "CommentViews";
}

<h2>Comment Views</h2>
@(Html.FullFeaturedGrid<CommentViewAdministrationViewModel>(ControllerName, m => m.Id, cols =>
{
    cols.Bound(m => m.Id).Visible(false);
    cols.Bound(m => m.Flagged).ClientTemplate("#=Flagged ? '<i class=\"fa fa-flag color-red\"></i>' : '' #");
    cols.Bound(m => m.IsHidden).ClientTemplate("#=IsHidden ? '<i class=\"fa fa-check-square-o\"></i>' : '<i class=\"fa fa-ban\"></i>' #");
    cols.Command(c => c.Edit());
    cols.Command(c => c.Destroy());
}, new { commentId = Model }))