@section styles {
    <link href="~/Content/videoRecording.css" rel="stylesheet" />
}
<h2>Video</h2>

<div id="videoRecordingHolder">
    @using (Html.BeginForm("UploadVideo", "Home", FormMethod.Post, new { hidden = "hidden", @class = "hiddenForm" }))
    {
        @Html.AntiForgeryToken()
    }

    <button data-toggle="modal" data-target="#modalVideoWindowMain">Open</button>

    <div id="modalVideoWindowMain" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn btn-danger pull-right" data-dismiss="modal"><i class="fa fa-times fa-2x"></i></button>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#videoRecording" data-toggle="tab">Record Video</a></li>
                        <li><a href="#videoAndAudioRecording" data-toggle="tab">Record Video and Audio<span class="badge toast-success">Beta</span></a></li>
                        <li><a href="#videoUpload" data-toggle="tab">Upload Video</a></li>
                    </ul>
                </div>
                <div class="modal-body  text-center">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="videoRecording">
                            <img src="~/Content/img/loading.gif" width="480" height="360" hidden="hidden" class="loading" /><br />
                            <video autoplay class="preview" width="520" height="360"></video>
                            <iframe width="520" height="360" src="" class="play" hidden="hidden"></iframe>
                            <hr />
                            <button class="recordButton btn btn-dark" onclick="toggleOnlyVideoRecording(this)"><i class="fa fa-video-camera fa-2x"> Record</i></button>
                            <button class="sendButton btn btn-success" hidden="hidden" data-dismiss="modal"><i class="fa fa-send fa-2x"> Send</i></button>
                            <a href="#" class="save saveButton btn btn-dark" download hidden="hidden"><i class="fa fa-2x fa-floppy-o"> Save</i></a>
                            <button class="cancelButton btn btn-dark" hidden="hidden"><i class="fa fa-refresh fa-2x"> Retry</i></button>
                        </div>

                        <div class="tab-pane fade text-center" id="videoAndAudioRecording">
                            <img src="~/Content/img/loading.gif" width="480" height="360" hidden="hidden" class="loading" /><br />
                            <video autoplay class="preview" width="520" height="360"></video>
                            <iframe width="520" height="360" src="" class="play" hidden="hidden"></iframe>
                            <hr />
                            <button class="recordButton btn btn-dark" onclick="toggleMergedRecording(this)"><i class="fa fa-video-camera fa-2x"> Record</i></button>
                            <button class="sendButton btn btn-success" hidden="hidden" data-dismiss="modal"><i class="fa fa-send fa-2x"> Send</i></button>
                            <a href="#" class="save saveButton btn btn-dark" download hidden="hidden"><i class="fa fa-2x fa-floppy-o"> Save</i></a>
                            <button class="cancelButton btn btn-dark" hidden="hidden"><i class="fa fa-refresh fa-2x"> Retry</i></button>
                        </div>

                        <div class="tab-pane fade" id="videoUpload">
                            TODO
                            <button class="cancelButton btn btn-dark"><i class="fa fa-upload fa-2x"> Choose File</i></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/videoRecording")
}