@model IEnumerable<VoiceWall.Web.ViewModels.WallItemViewModel>

@section styles{
    @Styles.Render("~/Content/wallItems")
}

@section afterbodyscripts {
    @Scripts.Render("~/bundles/loadingImageHider")
}

@{ Html.RenderPartial("_CreateContentPartial"); }
@{ Html.RenderPartial("_PlayContentPartial"); }

<div class="new-content-placeholder"></div>

@{Html.RenderPartial("_NewContentPartial");}

@{Html.RenderPartial("_WallItemMultiplePartials");}

@{Html.RenderPartial("_SearchFormPartial");}

@section scripts {
    @Scripts.Render("~/bundles/wallItems")
}