@model IEnumerable<VoiceWall.Web.ViewModels.WallItemViewModel>

@section styles{
    @Styles.Render("~/Content/wallItems")
}

@section afterbodyscripts {
    @Scripts.Render("~/bundles/loadingImageHider")
}

<div id="main-content-reciever" class="col-md-offset-1 col-md-10">
    <div class="row">
        <div id="new-created-content-placeholder"></div>
    </div>

    @{Html.RenderPartial("_WallItemMultiplePartials", Model);}
</div>
@{ Html.RenderPartial("_PlayContentPartial"); }

@{ Html.RenderPartial("_CreateContentPartial"); }

@{Html.RenderPartial("_NewContentPartial");}

@{Html.RenderPartial("_SearchFormPartial");}

@{Html.RenderPartial("_ClickForMorePartial");}

@section scripts {
    @Scripts.Render("~/bundles/wallItems")
}