@model IEnumerable<VoiceWall.Web.ViewModels.WallItemViewModel>

@section styles{
    @Styles.Render("~/Content/wallItems")
}

@section afterbodyscripts {
    @Scripts.Render("~/bundles/loadingImageHider")
}



@{ Html.RenderPartial("_CreateContentPartial"); }
@{ Html.RenderPartial("_PlayContentPartial"); }

<div class="new-content-placeholder"></div>

@if (Model != null)
{
    foreach (var wallItem in Model)
    {
        <hr />
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                @{ Html.RenderPartial("_WallItemPartial", wallItem); }
            </div>
        </div>
    }
}

@section scripts {
    @Scripts.Render("~/bundles/wallItems")
}