@model IEnumerable<VoiceWall.Web.ViewModels.WallItemViewModel>

@section styles{
    @Styles.Render("~/Content/wallItems")
}

@section afterbodyscripts {
    @Scripts.Render("~/bundles/loadingImageHider")
}

@{ Html.RenderPartial("_CreateContentPartial"); }
@{ Html.RenderPartial("_PlayContentPartial"); }

@{Html.RenderPartial("_NewContentPartial");}

<div id="main-content-reciever" class="col-md-offset-1 col-md-10">
    <div class="row">
        <div id="new-created-content-placeholder" class="col-md-offset-1 col-md-10"></div>
    </div>

    @{Html.RenderPartial("_WallItemMultiplePartials");}
</div>


@{Html.RenderPartial("_SearchFormPartial");}
@{Html.RenderPartial("_ClickForMorePartial");}
@section scripts {
    @Scripts.Render("~/bundles/wallItems")
}