<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Voice Wall</h1>
                <h2>This is the perfect way to escape from the boring social networks.</h2>
                <p class="lead">Didnt you get tired from all this keyboard smashing and typing ... dont you just want to scream and be heard or dance and be seen ?</p>
            </div>
        </div>
    </div>
</section>

<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Think about it</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-microphone fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Voice</strong>
                            </h4>
                            <p>Nothing can replace your voice - not even a thousand words.</p>
                            <a href="/" class="btn btn-light">Start talking!</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-camera fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Picture</strong>
                            </h4>
                            <p>A picture is worth a thousand words ? I think more.</p>
                            <a href="/" class="btn btn-light">Start shooting!</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-video-camera fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Video</strong>
                            </h4>
                            <p>If a picture is a million words, imagine 30 pictures per second.</p>
                            <a href="/" class="btn btn-light">Start filming!</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-eye fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Live</strong>
                            </h4>
                            <p>Uploading media is easy - here you can create it live.</p>
                            <a href="/" class="btn btn-light">Start creating!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<aside class="callout">
    <div class="text-vertical-center">
        <h1>Imagine the possibilities</h1>
    </div>
</aside>

<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Our Samples</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="/">
                                <img class="img-portfolio img-responsive" src="~/Content/img/portfolio-1.jpg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="/">
                                <img class="img-portfolio img-responsive" src="~/Content/img/portfolio-2.jpg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="/">
                                <img class="img-portfolio img-responsive" src="~/Content/img/portfolio-3.jpg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="/">
                                <img class="img-portfolio img-responsive" src="~/Content/img/portfolio-4.jpg" />
                            </a>
                        </div>
                    </div>
                </div>
                <a href="/" class="btn btn-dark header">Join the Voice Wall</a>
            </div>
        </div>
    </div>
</section>