<h2 class="text-center">FAQ</h2>

<h3>Go out there and start talking !</h3>
<p>
    Bear in mind that while you can send your voice/video/pictures to all the people out there, nothing can replace a good walk in the park :)
</p>

<p>
    Whats there to ask - click the buttons and you will get the hang of it :)
</p>

<p>
    For further questions - email is at the bottom.
</p>

<p>
    Enjoy :)
</p>