<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VoiceWall.Common.Content" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VoiceWall.Common.Content" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VoiceWall.Common.Content>
            <setting name="PictureMaxSize" serializeAs="String">
                <value>999999999</value>
            </setting>
            <setting name="SoundMaxSize" serializeAs="String">
                <value>999999999</value>
            </setting>
        </VoiceWall.Common.Content>
    </userSettings>
    <applicationSettings>
        <VoiceWall.Common.Content>
            <setting name="AcceptedVideoFiles" serializeAs="String">
                <value>video/webm
video/mp4</value>
            </setting>
            <setting name="AcceptedSoundFiles" serializeAs="String">
                <value>audio/mpeg</value>
            </setting>
            <setting name="AcceptedPictureFiles" serializeAs="String">
                <value>image/jpeg
image/png</value>
            </setting>
            <setting name="VideoMaxSize" serializeAs="String">
                <value>999999999</value>
            </setting>
        </VoiceWall.Common.Content>
    </applicationSettings>
</configuration>