<div id="modalContentPlayerHolder" class="modal">
    <div class="modal-dialog text-center">
        <div class="modal-content">
            <div class="modal-body">
                <span class="lead pull-left">Play Content</span>
                <button class="btn btn-danger pull-right" data-dismiss="modal"><i class="fa fa-times fa-0.1x"></i></button>
                <video autoplay controls src="" class="video-player" width="520" height="360"></video>
                <audio autoplay controls src="" class="audio-player"></audio>
            </div>
        </div>
    </div>
</div>