<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Voice Wall</h1>
        <h6>Forget your keyboard</h6>
        <br>
        @Html.ActionLink("Find Out More", "About", null, new { @class="btn btn-dark btn-lg" })
    </div>
</header>