@section styles{
    <link href="~/Content/soundRecording.css" rel="stylesheet" />
}
<h2>Voice</h2>

<div id="soundRecordingHolder">
    <div class="container">
        <div class="viz col-md-12">
            <canvas class="analyser" width="1024" height="500"></canvas>
            <canvas class="wavedisplay" width="1024" height="500"></canvas>
        </div>
    </div>
    <div class="container">
        <audio id="player" hidden="hidden"></audio>
    </div>

    @using (Html.BeginForm("UploadVoice", "Home", FormMethod.Post, new { hidden = "hidden", @class = "hiddenForm" }))
    {
        @Html.AntiForgeryToken()
    }

    <button class="recordButton btn btn-dark" onclick="toggleRecording(this)">Record</button>
    <button class="playButton btn btn-dark">Play</button>
    <button class="sendButton btn btn-dark">Send</button>
    <a href="#" class="save saveButton btn btn-dark" target="_blank">Save</a>
    <button class="cancelButton btn btn-danger">Cancel</button>
</div>

@section scripts{
    @Scripts.Render("~/bundles/soundRecording")
}
